@model DVD_Samling.Models.ViewModels.IndexViewModel



<br />

<div class="backgroundWhite container">
    @foreach(var genre in Model.Genre)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_thumbnailAreaPartial" model="@Model.MovieItem.Where(u => u.Genre.Name.Equals(genre.Name))" />
        </div>
    }
</div>